/*  */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
:root {
    --main-color: #9c6644;
    --side-color: #7f5539;
    --side-color-dark: #402b1d;
    --complementary-color: #b08968;
    --complementary-color2: #ddb892;
    --contrast-color: #e6ccb2;
    --contrast-color2: #ede0d4;
    --gray-light: #ccc5b9;
    --gray-dark: #403d39;
}
@font-face {
    font-family: 'Dance Font';
    src: url('./DancingScript-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
html, body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: auto;
}
h1, h2, h3, p {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem 2rem 3rem;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("./bg2pattern.jpg") repeat, var(--main-color);
    background-size: 100% auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

#nav-bar {
    width: 100%;
    text-align: center;
}
#nav-bar ul {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px;
    justify-content: center;
    gap: 2rem;
}
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--contrast-color);
    border-radius: 5px  5px 0% 0%;
    background-color: var(--main-color);
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("./squares.jpg"), var(--main-color) ;
    background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
}

#content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1.2rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--gray-light);
    background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)), url("./bg3light.jpg") top center repeat, var(--main-color);
}


.main-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.main-title {
    font-family: 'Dance Font','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    color: var(--contrast-color);
    border-bottom: 5px double var(--contrast-color);
    padding: 0.2rem 0.5rem;
}
img {
    width: 60%;
    height: auto;
    border-radius: 5%;

    --s: 8px; /* control the size */
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    /* outline: 2px solid #000; */
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 2px 2px,#0000 25%,var(--main-color) 0);
}

.description {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color:var(--contrast-color2);
}
.description::after, .description::before {
    content: '"';
}

.box {
    padding: 1rem 0.5rem;
    border-radius: 4px;
    background-color: var(--complementary-color2);
    box-shadow: -15px -15px 0px -10px var(--main-color),
    15px 15px 0px -10px var(--main-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
}
.customer {
    font-weight: bold;
    text-align: right;
    color: var(--side-color-dark);
}

.schedule.box p {
    padding-left: 1rem;
}
span {
    font-weight: bold;
}

/* Menu and Contact*/
.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 3rem;
}
.course {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
}
.course .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.course-title {
    max-width: max-content;
    color: var(--contrast-color);
    padding-bottom: 2px;
    border-bottom: ridge 5px var(--complementary-color);
}
h3, .box h2, span {
    color: var(--side-color-dark);
}

.contact-info {
    padding-left: 1rem;
}

.tab:hover {
    cursor: pointer;
}
